body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    & .card {
        background: transparent;
        border: none;
        backdrop-filter: contrast(0.4);
        border-radius: 2px !important;
        & h1  {
            color: white;
        }
        & label {
            color: white;
            font-size: 22px;
            font-weight: 500;
        }
        & input {
            background: transparent;
            border-width: 3px;
            &:focus {
                background: transparent ;
            }
        }
    }
}
