.screen {
    min-height: 100vh;
}
.window{
    margin: 0;
}
.screen-1 {
    display: grid;
    justify-content: center;
    min-height: calc(100vh - 95px) !important;
    margin-top: 95px;
    & > div {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
       & .educator {
           position: relative;
           display: grid;
           & img {
               width: 20px;
               position: absolute;
           }
           & .back-img {
               z-index: 1;
               /* background: red; */
               width: 90vw;
               height: 350px;
               border-radius: 50%;
               text-align: center;
               margin: auto;
               max-width: 350px;
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               & img {
                   animation: float 2s ease-in-out alternate infinite
               }
           }
           & .front-img {
               width: 90vw;
               height: 350px;
               border-radius: 50%;
               background: var(--main-bg);
               text-align: center;
               overflow: hidden;
               margin: auto;
               max-width: 350px;
           }
               & .educator-img {
                   width: 358px;
                   position: relative;
                   transform: rotateY(180deg) !important;
                   margin-top: -10px;
                   left: 21px;
               }
           }
       }
        & .button-container {
            text-align: center;
            & a {
                background: var(--main-bg);
                color: white;
                padding: 10px;
                border-radius: 10px;
                &:hover {
                    text-decoration: none;
                }
            }
        }

        & .welcome-message {
            padding: 25px;
            & h3 {
                margin: 35px 0px;
            }
            & p {
                margin: 36px 0;
            }
        }

    & .line-hide {
        text-wrap: nowrap;
        position: relative;
        &:after {
            content: '';
            background: var(--main-bg);
            height: 23px;
            width: 101%;
            position: absolute;
            z-index: -1;
            left: 0;
            top: 15px;
            opacity: 0.7;
        }
    }
}

/* Max height 650px */

.screen-2 {
    text-align: center;
    display: grid;
    border-top: 5px solid var(--main-bg);
    align-content: space-around;
    padding: 20px;
    & img {
        width: 100%;
        border-radius: 10px;
        max-width: 500px;
    }
    & > div > div {
        margin: 25px;
        font-size: 21px;
        font-weight: bold;
        border: 1px solid;
        border-radius: 10px;
        padding: 10px;
    }
}

.screen-3 {
    border-top: 5px solid var(--main-bg);
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    text-align: center;
    color: var(--main-bg);
    padding: 30px 0;
    & .slider {
        width: 80%;
        border-radius: 10px;
        overflow: hidden;
        margin: auto;
        max-width: 500px;
    }
}


video {
    width: 80%;
    border-radius: 10px;
    max-width: 500px;
}


@keyframes float {
    from {transform: translateY(0)}
    to {transform: translateY(50px)}
}
