
@page
{
    size: auto;
    margin: 5mm 4mm 5mm 4mm;
}
thead
{
    display: table-header-group;
}
tfoot
{
    display: table-footer-group;
}
.not-print {
    display: none;
}
.no-break {
    page-break-inside: avoid
}
.bordered-paper {
    height: 100vh;
    margin: 0 !important;
}
input, textarea {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    padding-right: 3px !important;
    margin: 0 !important;
}

.import-writing {
    margin: 0 !important;
}
