form
{
    width: 50%;
    margin: auto;
    margin-top: auto;
    margin-top: 28px;
}
@media only screen and (max-width: 990px) {
    form{
        width: 90%;
    }
}

.separate {
    text-align: center;
    margin: 20px 0;
    font-size: 13px;
    color: #666;
}
.separate span {
    position: relative;
    border: 1.6px solid;
    border-radius: 5px;
    padding: 1px 8px;
}

.separate span:after,
.separate span:before{
    content: '';
    background: #666;
    width: 100px;
    height: 1.6px;
    position: absolute;
    top: 50%;
    border-radius: 2px;
}
.separate span:after {
    margin-right: 8px;
}

.separate span:before {
    left: 92px;
}


/*----{{ Form Cards }}----*/

.form-cards-2 {
    display: grid;
    grid-template-columns: 300px 300px;
    gap: 10px;
    justify-content: space-around;
}

.form-card{
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.form-card .body>div {
    display: grid;
    grid-template-columns: 35px auto;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.groups-card {
    grid-column: 1 / 3;
}
@media only screen and (max-width: 660px) {
    .form-cards-2 {
        grid-template-columns: auto;
    }
}
