.dark-mode {
    background: var(--black);
    color: var(--white);
}
.dark-mode nav {
    background: var(--black-olive);
    box-shadow: none;
    border: 0;
    color: var(--white);
    & a {
        color: var(--white) !important;
    }
}
.dark-mode .message {
    background: var(--black-olive) !important;
    color: var(--white);
}

.dark-mode .sections a {
    background: var(--black-olive);
}


.dark-mode .button-nav {
    background: var(--black-olive) !important;
    box-shadow: none !important;
}


.dark-mode input:not([type=submit]):not([type=radio]):not([type=checkbox]),
.dark-mode textarea {
    border: 0;
}

.dark-mode input:disabled,
.dark-mode textarea:disabled {
    opacity: 0.5;
    cursor: no-drop;
}

.dark-mode input[type=file]::file-selector-button {
    background: var(--grape);
    color: var(--light-white);
    border: 0;
    outline: 0;
}
.dark-mode input[type=file]::file-selector-button:hover {
    opacity: 0.8;
    background: var(--grape);
    color: var(--light-white);
}
.dark-mode input:not([type=submit]):not([type=radio]):not([type=checkbox])::placeholder,
.dark-mode textarea::placeholder {
    color: var(--light-white);
}
.dark-mode input:not([type=submit]),
.dark-mode textarea:focus {
    background: var(--light-black);
    color: var(--light-white);
}

.dark-mode .video-div {
    background: var(--black-olive) !important;
    box-shadow: none !important;
}

.dark-mode .rank-container {
    color: var(--white);
    background: var(--success);
}
