:root {
    --white: #fff;


    /* Primary */
    --light-black: #2b2b2b;

    /* Primary Dark */
    --black: #010204;
    --grape: #5720B7;
    --black-olive: #151617;
    --dark-charcoal: #0a0a0d;

    /* Primary Light */
    --light-gray: #f4f5f8;
    --main-color: linear-gradient(19deg, #efefef, #FE3EA5  28%, #FE3EA5);
    --main-bg: #1e8edb;

    /* Secondary */
    --light-white: #E5E5E5;

    /* Attributes */
    --transition-duration: 0.4s;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
}
::-webkit-scrollbar-track {
    background: var(--light-white);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tajawal-extralight {
    font-family: "Tajawal", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.tajawal-light {
    font-family: "Tajawal", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.tajawal-regular {
    font-family: "Tajawal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.tajawal-medium {
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.tajawal-bold {
    font-family: "Tajawal", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.tajawal-extrabold {
    font-family: "Tajawal", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.tajawal-black {
    font-family: "Tajawal", sans-serif;
    font-weight: 900;
    font-style: normal;
}


body{
    direction: rtl;
    background: var(--white);
    text-align: right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    padding: 5px 25px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 10000;
    background-color: white;
    box-shadow: 0 -1px 9px #aaa;
    color: var(--black);
    & .modes {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        & .langs a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: var(--black);
            direction: ltr;
        }
    }
    & .nav-logo {
        display: flex;
        align-items: center;
        gap: 3px;
    }

}
nav img {
    width: 40px;
    margin: auto;
    border-radius: 5px;
    max-height: 40px;
}
nav a {
    padding: 2px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: rgb(33, 37, 41);
}


.window{
    z-index: 1;
    position: relative;
    /* top: 100px; */
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 150px;
}

h1{
    font-weight: bold;
    text-align: center;
}


section.welcome{
    display: grid;
    justify-content: center;
    text-align: center;
    background: linear-gradient(19deg, darkblue, blue 28%, lightblue);
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    color: wheat;
    font-weight: bold;
    font-size: 29px;


}
section.welcome img {
    width: 250px;
}

.read-more {
    margin: 0 10px;
}



.sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    padding: 20px;
    max-width: 700px;
    margin: auto;
    & a{
        background: white;
        display: grid;
        justify-content: center;
        text-align: center;
        border-radius: 50% 50% 37% 63% / 50% 64% 36% 50%;
        min-height: 165px;
        animation: float-border 2s ease-in-out alternate infinite;
        font-size: 20px;
        position: relative;
        color: var(--main-bg);
        &:hover {
            text-decoration: none;
        }
        &::after {
            content: '';
            background: var(--main-bg);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
            border-radius: inherit;

            padding: 17px;
            box-sizing: initial;
            top: -17px;
            left: -17px;
        }
        & img, & span {
            position: relative;
        }
        & img {
            animation: fly 2s ease-in-out alternate infinite;
        }
    }
}

.sections  img{
    width: 50px;
    margin: auto;
}
.sections h3{
    grid-column: 1/3;
}

@media only screen and (max-width: 550px) {
    .sections{
        grid-template-columns: auto;
    }
    .sections h3{
        grid-column: 1/2;
    }
}

.button-nav{
    width: 100%;
position: fixed;
bottom: 0;
display: flex;
justify-content: space-around;
z-index: 1000;
padding: 9px 0;
background: white;
box-shadow: 0 -2px 8px #aaa;
font-size: 12px;
}

.button-nav a{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.button-nav img {
    width: 30px;
    margin: auto;
}


/*EN AND AR*/
.ar-en {
    direction: ltr;
}
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 10em;
    width: 20em;
    border: 5px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    box-shadow: 0px 10px 25px #e4e7ec;
    transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(11.75em, 1.75em);
    position: absolute;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(1.75em, 1.75em);
}

.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(12em, 2em) rotate(-15deg);
}

/*MOON AND SUN */
:root {
    --darkbg:#251D29;
    --darkt: #FFD1F7;
    --lightbg: #fff;
    --lightt: #D43370;

    --toggleHeight: 16em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 10em;

    --bgColor--night: #423966;
    --toggleBtn-bgColor--night: var(--bgColor--night);
    --mooncolor: #D9FBFF;
    --bgColor--day: #9ee3fb;
    --toggleBtn-bgColor--day: var(--bgColor--day);
}
.tdnn {
    /*change size of toggle with font-size*/
    font-size: 1.5px;
    position: relative;
    height: var(--toggleHeight);
    width: var(--toggleWidth);
    border-radius: var(--toggleHeight);
    transition: all 500ms ease-in-out;
    background: var(--bgColor--night);
}
.day{
    background: #FFBF71;
}
.moon {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;

    top: 3em;
    left: 3em;
    transform: rotate(-75deg);
    width: var(--toggleBtnRadius);
    height: var(--toggleBtnRadius);
    background: var(--bgColor--night);
    box-shadow:
        3em 2.5em 0 0em var(--mooncolor) inset,
        rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
        rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
        rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
        rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
        rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
}
.sun {
    top: 4.5em;
    left: 18em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: #fff;
    box-shadow: 3em 3em 0 5em #fff inset,
    0 -5em 0 -2.7em #fff,
    3.5em -3.5em 0 -3em #fff,
    5em 0 0 -2.7em #fff,
    3.5em 3.5em 0 -3em #fff,
    0 5em 0 -2.7em #fff,
    -3.5em 3.5em 0 -3em #fff,
    -5em 0 0 -2.7em #fff,
    -3.5em -3.5em 0 -3em #fff;
}


/*INDEX PAGE $$$$$$$*/
.student-message{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    & .messages-container{
        position: relative;
        background-image: url(../../images/pen.jpg);
        background-attachment: fixed;
        background-size: contain;
        background-position: bottom;
        width: 82%;
        height: 233px;
        border-radius: 54% 78% 42% 58% / 48% 45% 108% 52%;
        margin: auto;
        display: grid;
        align-items: center;
        margin: 34px auto;
        max-width: 338px;
        & .message {
            border-radius: 38% 62% 34% 66% / 64% 22% 78% 36%;
            background: white;
            width: 92%;
            display: grid;
            justify-content: center;
            align-items: center;
            height: 200px;
            padding: 30px;
            margin: auto;
        }
    }
}

/*.links {*/
/*    display: grid;*/
/*    grid-template-columns: auto auto;*/
/*    & a {*/
/*        color: white;*/
/*        text-decoration: none;*/
/*        position: relative;*/
/*        z-index: 1;*/
/*        & img {*/
/*            width: 140px;*/
/*        }*/
/*        & span {*/
/*            font-size: 17px;*/
/*        }*/
/*    }*/
/*    & img {*/
/*        width: 200px;*/
/*    }*/
/*}*/

.state, .average {

    & .state-container, & .average-container {
        text-align: right;
        width: 80%;
        border: 5px solid var(--main-bg);
        border-radius: 10px;
        padding: 40px 20px;
        margin: 20px auto;
        & div:nth-child(2) {
            font-size: 20px;
        }
        & div:nth-child(3) {
            font-size: 23px;
            /* color: var(--main-bg); */
            margin: 23px 10px;
        }
    }
    & h2 {
        color: var(--main-bg);
    }
    & .progress {
        height: 93px;
        font-size: 26px;
        border-radius: 10px;
    }
}

.grid-1 {
    grid-column: 1;
}
.grid-2 {
    grid-column: 2;
}

footer {
    color: var(--white);
    border-top: 1px solid black;
    padding: 60px 0;
    background: var(--main-bg);
    overflow: hidden;
    & .icons {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-direction: row-reverse;
        & > div:first-child img {
            border-radius: 50%;
        }

    }
    & .cont-txt {
        font-size: 20px;
    }
    & img {
        width: 45px;
        &:nth-child(3) {
            border-radius: 0;
        }
    }
    & .support {
        text-align: center;
        margin: 30px 0;
        position: relative;
        &:after{
            content: '';
            width: 300px;
            position: absolute;
            height: 1px;
            background: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: -9px
        }
        & span {
            font-size: 19px;
        }
    }
    & .footer-contacts {
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
        justify-content: space-around;
        align-content: center;
        max-width: 430px;
        margin: auto;
        position: relative;
        & a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
        &:after {
            content: '';
            width: 300px;
            position: absolute;
            height: 1px;
            background: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: -12px
        }
    }
    & .created-by {
        text-align: center;
        margin-top: 30px;
        color: white;
    }
    .mail {
        grid-column: 1/3;
        text-align: center;

    }
    & .support-link {
        border: 1px solid;
        color: var(--white);
        border-radius: 55px;
        padding: 0px;
        padding-left: 11px;
        & img {
            width: 45px;
            padding: 5px;
            border: 1px solid;
            border-radius: 31px;
            box-sizing: content-box;
            transition: all 0.5s;
        }
        &:hover  {
            &  img {
                background: var(--white);
            }
            text-decoration: none;

        }
    }
}

.table h4,
.table th,
h4, .h4 {
    color: var(--main-bg) !important;
}


.progress.circular {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transform: rotate(90deg);
    margin: auto;
    & .content {
        transform: rotate(-90deg);
    }
}



.wave {
    background: red;
    width: 152px;
    height: 100px;
    border-radius: 50%;
    margin: -1px -29px !important;
    display: inline-block;
}


@keyframes float-border {
    0% {
        /*top: -17px;*/
        /*left: -17px;*/
        border-radius: 50% 50% 37% 63% / 50% 64% 36% 50%;
    }
    50% {
        /*top: -2px;*/
        /*left: -9px;*/
    }
    100% {
        /*left: 0;*/
        /*top: 0;*/
        border-radius: 70% 60% 47% 73% / 50% 64% 36% 50%;
    }
}

@keyframes fly {
    0% {
        transform: translateX(0), rotate(180deg);
    }
    100% {
        transform: translateX(0), rotate(180deg);
    }
}
